<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>After School</title>
    <link rel="stylesheet" href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
        <br>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">오후 강좌</a></li>
        </ul>
        <br>
        <div class="alert alert-danger" role="alert">강좌 삭제를 누르면 <strong>"<%=title%>"에 대한 모든 데이터가 "삭제"</strong> 됩니다.<br>이것은 매우 위험한 행동입니다.<br>관리자가 아니라면 취소버튼을 누르세요.</div>
        <a class="btn btn-danger btn-lg" href="/deleteLecture/<%=lid%>" role="button">강좌 삭제</a>
        <a class="btn btn-warning btn-lg" href="/lecture/<%=lid%>" role="button">취소</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </body>
</html>
